source https://nuget.org/api/v2

nuget DotLiquid 1.8.0
nuget FSharp.Core 3.1.2.1
nuget FSharp.Formatting 2.4.35
nuget FAKE
nuget FsPickler 1.0.7
nuget Microsoft.AspNet.Razor 2.0.30506.0
nuget RazorEngine 3.3.0
nuget SQLProvider 0.0.9-alpha
nuget Suave 0.26.0
nuget Suave.Razor 0.26.0