<h2>Create</h2>

<form method="POST">
    <fieldset>
        <legend>Album</legend>

        <div>
            Genre
        </div>
        <div>
            <select name="genre">
                {% for Genre in Genres %}
                <option value="{{Genre.Id}}">{{Genre.Name}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            Artist
        </div>
        <div>
            <select name="artist">
                {% for Artist in Artists %}
                <option value="{{Artist.Id}}">{{Artist.Name}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            Title
        </div>
        <div>
            <input name="title" type="text" required maxlength="100"/>
        </div>

        <div>
            Price
        </div>
        <div>
            <input name="price" type="number" required step="0.01"/>
        </div>

        <div>
            Album Art Url
        </div>
        <div>
            <input name="artUrl" type="text" value="placeholder.gif" required maxlength="100" min="0.01" max="100.00" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    <a href="/store/manage">Back to list</a>
</div>